---
import { getPastoralTeam } from "../../actions/gets"
import Layout from "../../layouts/Layout.astro"
import { urlForImage } from "../../lib/urlForImage"
const pastoralTeam = await getPastoralTeam()
const { title, team, Desciption } = pastoralTeam
---

<Layout title="Equipe pastoral - CB Atos 29">
  <div class="w-full flex items-center justify-center">
    <div class="max-w-[1280px] w-full min-h-[60vh] flex flex-col gap-8">
      <div
        class="bg-gradient-to-r from-primary-light to-primary-dark flex flex-col gap-2 p-8"
      >
        <h1 class="text-white text-2xl font-bold">{title}</h1>
        <p class="text-bage">{Desciption}</p>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 px-8 2xl:px-0">
        {
          team.map((member: any) => {
            return (
              <div class="shadow-lg rounded-md">
                <img
                  src={urlForImage(member.mainImage.asset._ref).url()}
                  alt="Vem pra celula"
                  class="object-contain sm:object-cover w-full max-h-[500px] rounded-tr-md rounded-tl-md"
                />
                <div class="flex flex-col gap-2 ">
                  <div class="bg-gradient-to-r from-primary-light to-primary-dark mt-[-64px] max-w-[75%] p-4 rounded-tr-full rounded-br-full">
                    <h2 class="text-white text-2xl font-bold">{member.nome}</h2>
                    <h2 class="text-bage">"{member.favoriteVerse}"</h2>
                  </div>
                  <p class="px-4 pb-4 text-gray-700 text-sm">
                    {member.Desciption}
                  </p>
                </div>
              </div>
            )
          })
        }
      </div>
    </div>
  </div>
</Layout>
