---
import { getCells, getHomeCelula } from '../../actions/gets';
import Layout from '../../layouts/Layout.astro';
import { urlForImage } from '../../lib/urlForImage';
import {SearchCell} from '../../components/SearchCells'

const searchParams = new URLSearchParams(Astro.url.search);
const searchText = searchParams.get('search');

const cells = await getCells(searchText)
const homeCelula = await getHomeCelula()

const {celulaImage} = homeCelula

---

<Layout title="CB Atos 29">
	<section class="w-full max-w-[1280px] flex flex-col gap-4 items-center">
        <div class="w-full">
			<img src={urlForImage(celulaImage.asset._ref).url()} alt="Vem pra celula" class="object-fill w-full max-h-[414px]">
		</div>
		<SearchCell client:load searchParams={searchText}/>
		<ul class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 px-8 mt-[-80px]">
			{cells.map((cell:any) => (
				<li class="shadow-xl  rounded-md bg-white">
					<div class="flex flex-col pb-4 bg-white rounded-md">
						<span 
							class="bg-gradient-to-r from-primary-light to-primary-dark 
							text-white text-2xl text-center py-2 rounded-t-sm font-bold"
						>
							{cell.title}
						</span>
						<div class="flex flex-col px-4 mt-2">
							<span class="text-center font-bold text-lg text-primary-light">{cell.dayOfWeek} as {cell.time.hour}:{cell.time.minute}</span>
							<span class="text-center  text-primary-light">{cell.district}</span>
						</div>
						<div class="flex gap-2 px-4 items-center justify-center">
							<div class="flex flex-col items-center">
								<a 
									href={`https://wa.me/${cell.leader1.whatsapp}?text=Tenho%20interesse%20em%20participar%20da%20celula`}
									target="_blank"
									class="flex flex-col items-center justify-center"
								>
								<span class=" text-primary-light font-semibold">{cell.leader1.name}</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#60d669" viewBox="0 0 256 256"><path d="M187.58,144.84l-32-16a8,8,0,0,0-8,.5l-14.69,9.8a40.55,40.55,0,0,1-16-16l9.8-14.69a8,8,0,0,0,.5-8l-16-32A8,8,0,0,0,104,64a40,40,0,0,0-40,40,88.1,88.1,0,0,0,88,88,40,40,0,0,0,40-40A8,8,0,0,0,187.58,144.84ZM152,176a72.08,72.08,0,0,1-72-72A24,24,0,0,1,99.29,80.46l11.48,23L101,118a8,8,0,0,0-.73,7.51,56.47,56.47,0,0,0,30.15,30.15A8,8,0,0,0,138,155l14.61-9.74,23,11.48A24,24,0,0,1,152,176ZM128,24A104,104,0,0,0,36.18,176.88L24.83,210.93a16,16,0,0,0,20.24,20.24l34.05-11.35A104,104,0,1,0,128,24Zm0,192a87.87,87.87,0,0,1-44.06-11.81,8,8,0,0,0-6.54-.67L40,216,52.47,178.6a8,8,0,0,0-.66-6.54A88,88,0,1,1,128,216Z"></path></svg>
								</a>
							</div>
							<div class="flex flex-col items-center">
								<a 
									href={`https://wa.me/${cell.leader2.whatsapp}?text=Tenho%20interesse%20em%20participar%20da%20celula`}
									target="_blank"
									class="flex flex-col items-center justify-center"
								>
								<span class=" text-primary-light font-semibold text-lg">{cell.leader2.name}</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#60d669" viewBox="0 0 256 256"><path d="M187.58,144.84l-32-16a8,8,0,0,0-8,.5l-14.69,9.8a40.55,40.55,0,0,1-16-16l9.8-14.69a8,8,0,0,0,.5-8l-16-32A8,8,0,0,0,104,64a40,40,0,0,0-40,40,88.1,88.1,0,0,0,88,88,40,40,0,0,0,40-40A8,8,0,0,0,187.58,144.84ZM152,176a72.08,72.08,0,0,1-72-72A24,24,0,0,1,99.29,80.46l11.48,23L101,118a8,8,0,0,0-.73,7.51,56.47,56.47,0,0,0,30.15,30.15A8,8,0,0,0,138,155l14.61-9.74,23,11.48A24,24,0,0,1,152,176ZM128,24A104,104,0,0,0,36.18,176.88L24.83,210.93a16,16,0,0,0,20.24,20.24l34.05-11.35A104,104,0,1,0,128,24Zm0,192a87.87,87.87,0,0,1-44.06-11.81,8,8,0,0,0-6.54-.67L40,216,52.47,178.6a8,8,0,0,0-.66-6.54A88,88,0,1,1,128,216Z"></path></svg>
								</a>
							</div>
							
						</div>
					</div>
				</li>
			))}
		</ul>
		
	</section>	
</Layout>
