---
import { getEvents, getEventsPage } from "../../actions/gets"
import Layout from "../../layouts/Layout.astro"
import { urlForImage } from "../../lib/urlForImage"

const eventsPage = await getEventsPage()
const events = await getEvents()
const { mainImage } = eventsPage

const formatDate = (dateString: string) => {
  const months = [
    "Jan",
    "Fev",
    "Mar",
    "Abr",
    "Mai",
    "Jun",
    "Jul",
    "Ago",
    "Set",
    "Ou",
    "Nov",
    "Dez",
  ]
  const date = new Date(dateString)
  const day = date.getDate()
  const month = months[date.getMonth()]
  const year = date.getFullYear()
  return { day, month, year }
}
---

<Layout title="Eventos - CB Atos 29">
  <section
    class="w-full max-w-[1280px] flex flex-col gap-4 items-center xl:px-0"
  >
    <div class="w-full">
      <img
        src={urlForImage(mainImage.asset._ref).url()}
        alt="Vem pra celula"
        class="object-fill w-full max-h-[414px] mb-4"
      />
    </div>
    <ul
      class="px-8 xl:px-0 w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-3 gap-8"
    >
      {
        events.map((event: any) => (
          <a href={`/event/${event._id}`}>
            <li class="relative rounded-md">
              <div class="absolute top-4 left-[-16px] z-10 ">
                <img src="/icons/ticket.png" alt="ticket" class="w-36" />
                <span class="text-white text-sm absolute top-2 left-8">
                  <strong>
                    {formatDate(event.datinha).day}
                    {formatDate(event.datinha).month}
                  </strong>
                  <br />
                  {formatDate(event.datinha).year}
                </span>
              </div>
              <img
                src={urlForImage(event.mainImage.asset._ref).url()}
                alt=""
                class="w-full max-h-48 object-fill rounded-md shadow-md"
              />
            </li>
          </a>
        ))
      }
    </ul>
  </section>
</Layout>
