---
import Layout from "../../layouts/Layout.astro"
import { getMinistry } from "../../actions/gets"
import { urlForImage } from "../../lib/urlForImage"

const ministry = await getMinistry()
const { description, title, mainImage, team } = ministry
---

<Layout title="Ministerios - CB Atos 29">
  <section class="w-full flex flex-col gap-4 items-center xl:px-0">
    <section class="w-full max-w-[1280px] flex flex-col">
      <img
        src={urlForImage(mainImage.asset._ref).url()}
        alt="Vem pra celula"
        class="object-fill max-h-[414px] w-full"
      />
      <p
        class="text-white bg-gradient-to-b from-primary-light to-primary-dark px-8 py-4 text-sm md:text-base rounded-b-md"
      >
        {description}
      </p>

      <div class="mt-8 p-8 lg:p-0 flex flex-col gap-4">
        {
          team.map((item: any) => {
            return (
              <div class="w-full border border-secondary-blue flex flex-col md:flex-row item-center justify-center gap-4 lg:gap-8 p-4 lg:px-8 text-white rounded-md">
                <div class="flex items-center justify-center">
                  <div class="min-w-32 max-w-32 h-32 bg-white rounded-full p-4 flex items-center justify-center">
                    <img
                      src={urlForImage(item.mainImage.asset._ref).url()}
                      alt={item.name}
                      class="object-fill w-28 h-28"
                    />
                  </div>
                </div>
                <div class="flex items-center md:items-start  flex-col gap-4">
                  <h3 class="text-3xl text-primary-light font-bold">
                    {item.name}
                  </h3>
                  <p class="text-sm md:text-base text-gray-700">
                    {item.Desciption}
                  </p>
                </div>
              </div>
            )
          })
        }
      </div>
    </section>
  </section>
</Layout>
